version: "2"

services:
    jenkins:
        image: azharuddinlaskar/jenkins-docker
        container_name: jenkins-ci
        depends_on:
         - sonarqube
        ports:
         - 8888:8080
         - 50000:50000
        volumes:
         - /var/run/docker.sock:/var/run/docker.sock
         - /root/workspace
         - jenkins_home:/var/jenkins_home
    sonarqube:
        depends_on:
         - db
        image: sonarqube
        container_name: sonarqube
        ports:
         - 9000:9000
        environment:
         - SONARQUBE_JDBC_USERNAME=root
         - SONARQUBE_JDBC_PASSWORD=password
         - SONARQUBE_JDBC_URL=jdbc:mysql://db:3306/sonar?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true
        volumes:
         - sonarqube_conf:/opt/sonarqube/conf
         - sonarqube_data:/opt/sonarqube/data
         - sonarqube_extensions:/opt/sonarqube/extenions
         - sonarqube_bundled-plugins:/opt/sonarqube/lib/bundled-plugins
    db:
        image: mysql:5.6
        environment:
         - MYSQL_DATABASE=sonar
         - MYSQL_ROOT_PASSWORD=password
         - MYSQL_ROOT_HOST=%
        volumes:
         - mysqldata:/var/lib/mysql

volumes:
  jenkins_home:
  sonarqube_conf:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_bundled-plugins:
  mysqldata:
